entryPoints:
  web:
    address: ":80"
    http:
      redirections:
        entryPoint:
          to: websecure
          scheme: https
          permanent: true
    forwardedHeaders:
      insecure: true

  # Federation entrypoint
  websecure_8448:
    address: ":8448"
    http:
      tls:
        certResolver: dns-cloudflare
        domains:
          - main: "matrix.{DOMAINNAME_1}"
            sans:
              - "*.{DOMAINNAME_1}"
              - "*.{DOMAINNAME_2}"

  # Standard HTTPS
  websecure:
    address: ":443"
    http:
      tls:
        certResolver: dns-cloudflare
        domains:
          - main: "*.{DOMAINNAME_1}"
            sans:
              - "*.{DOMAINNAME_1}"
              - "*.{DOMAINNAME_2}"
        options: tls-opts@file
    forwardedHeaders:
      insecure: true

certificatesResolvers:
  dns-cloudflare:
    acme:
      email: your@email.com # this can stay in static config
      storage: /acme.json
      dnsChallenge:
        provider: cloudflare
        resolvers:
        - "1.1.1.1:53"
        - "1.0.0.1:53"
        propagation:
          delayBeforeChecks: 90s
      keyType: RSA4096

providers:
  docker:
    endpoint: "tcp://socket-proxy:2375"
    exposedByDefault: false
    network: t3_proxy
    watch: true
  file:
    directory: /rules
    watch: true

api:
  dashboard: true
  insecure: true

log:
  level: DEBUG
  filePath: /logs/traefik.log
  format: json

accessLog:
  filePath: /logs/access.log
  format: json
  fields:
    defaultMode: keep
    headers:
      defaultMode: drop
      names:
        X-Forwarded-For: keep
        X-Real-Ip: keep
        Cf-Connecting-Ip: keep
        User-Agent: keep
  bufferingSize: 100

metrics:
  prometheus:
    entryPoint: traefik
    addEntryPointsLabels: true
    addRoutersLabels: true
    addServicesLabels: true
    buckets: [ 0.1, 0.3, 1.2, 5.0 ]
  addInternals: true

serversTransport:
  maxIdleConnsPerHost: 200
  forwardingTimeouts:
    dialTimeout: 30s
    responseHeaderTimeout: 60s
    idleConnTimeout: 120s

global:
  checkNewVersion: true
  sendAnonymousUsage: true
